<!--
夹带私货
-->
{% extends "management/base.html" %}
{% block title %}登录{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <h2>开发者日志</h2>
                <p style="color: crimson"><s>经过114514次实验之后本系统诞生了（大雾）</s></p>
                <ul style="font-family: Times New Roman; font-size: 25px">
                    <li>2021.12.13 把readme补全了</li>
                    <li>2021.12.12 完成日志、看板娘等杂项</li>
                    <li>2021.12.9  测试成功！</li>
                    <li>2021.12.6  完成图书模型构建</li>
                    <li>2021.12.3  完成用户模型构建</li>
                    <li>2021.12.1  完成需求分析，产品定位</li>
                    <li>2021.12.1  完成readme初版</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}